@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark 03 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    padding: 20px 24px;
    color: white;
    background-color: #FF900E;
    border-radius: 8px;
    font-size: 1.25rem;
    border: none;
    font-weight: 600;
    margin-top: 34px;
}

.color-black {
    color: black;
}

.color-orange {
    color: #FF900E;
}

/* header styles */

/* nav-bar styles */
header {
    margin-bottom: 130px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 3rem
}

.nav-item {
    list-style: none;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
}

.navbar,
.banar {
    max-width: 1440px;
    margin: 0 auto;
}

/* banar related style */
.banar-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banar-title {
    font-size: 4rem;
}

.banar-image {
    width: 100%;
}

/* teams style */
.teams {
    max-width: 1318px;
    margin: 0 auto;
    align-items: center;
    gap: 73px;
}

.teams-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.teams-title {
    font-size: 3rem;
}

/* feature section */
.feature {
    max-width: 1440px;
    margin: 120px auto;
    gap: 52px;
}

.feature-description {
    max-width: 586px;
}

.feature-title {
    font-size: 3rem;
    font-weight: bold;
}

.feature-info {
    margin-top: 24px;
    margin-bottom: 30px;
}

.feature-card {
    max-width: 586px;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 50px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}

.feature-card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.feature-image img {
    width: 100%;
}

@media screen and (max-width:576px) {
    .navbar {
        flex-direction: column;
    }

    .teams {
        flex-direction: column-reverse;
    }

    .teams-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature {
        flex-direction: column;
    }

}